<!-- cards/templates/cards/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/light.css' %}">
<head>

<body>
    <header>
        <h1>My Flashcards App</h1>
        {% include "cards/navigation.html" %}
    </header>
    
    <main>
        {% block content %}
            <h2>Welcome to your Flashcard App!</h2>
        {% endblock content %}
    </main>
</body>