<!-- cards/templates/cards/box.html -->
<!-- Shows all cards within a particular box -->

{% extends 'cards/index.html' %}
{% load humanize %}

{% block content %}
    <div align="center">
        <h2>
            {% if box_number <= 3 %}🌳 Level {{ box_number | apnumber | capfirst }}
            {% elif box_number <= 6 %}⛰️ Level {{ box_number | apnumber | capfirst }}
            {% elif box_number <= 9 %}⛅ Level {{ box_number | apnumber | capfirst }}
            {% else %}🌟 Final Level{% endif %}
            
            
        </h2>
        <p id="cards-left">
            <mark>
            {% if not object_list %}
                0 (zero)
            {% else %}
                {{ object_list | length }} ({{ object_list | length | apnumber }})
            {% endif %}
            </mark>card{{ object_list | length | pluralize }} left at this level
        </p>
    </div>
    <div>
        <!-- Display an according message depending on how many cards are in a box -->
        <h3 class="box-lines" align="center">
            {% if not object_list %}
                Hmm, it seems that there's nothing here... 🤔
            {% elif box_number == 1 %}
                Your 1st try at these cards. You got this!🥰
            {% elif box_number == 10 %}
                Congrats! You've reached the final level. Take a break and celebrate!🥳 
            {% else %}
                You're on Level {{ box_number | apnumber | upper }} with these cards. Keep it up!🤩 
            {% endif %}
        </h3>
    </div>
    {% if check_card %}
        {% include "cards/card.html" with card=check_card %}
    {% endif %}
{% endblock content %}