<!-- cards/templates/cards/card_list.html -->
<!-- Shows all cards that can be accessed -->

{% extends 'cards/index.html' %}
{% load humanize %}

{% block content %}
    <h2>📚 All Cards</h2>
    <div align="center" class="row">
        <div class="col-12 col-md-6">
            <form action={% url 'card-create' %}>
                <input type="submit" value="✨ Create New Card">
            </form>
        </div>
        <div class="col-12 col-md-6">
            <form action={% url 'card-create' %}>
                <input type="submit" value="✨ Create New Group">
            </form>
        </div>
    </div>
    <!-- Generates all flashcards in database -->
    {% for card in card_list %}
        <!-- Create a new h3 element for a new box if 'group_name' value changes.-->
        {% ifchanged card.group_name %}
            <h3>📘 {{ card.group_name }}:</h3> 
        {% endifchanged %}
        {% include "cards/card.html" %}
    {% endfor %}
{% endblock content %}
