<!-- cards/templates/cards/card.html -->
<!-- Stores the card template -->

<article>
    <p class="question">{{ card.question }}</p>
    {% if not check_card %}
        <p class="answer">{{card.answer}}</p>
        <div>
            <a href="{% url 'card-update' card.id %}" role="button">✏️ Edit Card </a>
            <a href="{% url 'card-delete' card.id %}" role="button">🗑️ Delete Card </a>
        </div>
    {% else %}
        <details>
            <summary>Click for answer</summary>
            <p class="answer">{{ card.answer }}</p>
        </details>

        {% include "cards/card_check_form.html" with solved=True %}
        {% include "cards/card_check_form.html" with solved=False %}
    {% endif %}

</article>