

{% extends 'cards/index.html' %}
{% load humanize %}

{% block content %}
    <div align="center">
        <h2>{{ group_name }}</h2>
        <p id="cards-left">
            <mark>
            {% if not object_list %}
                0 (zero)
            {% else %}
                {{ object_list | length }} ({{ object_list | length | apnumber }})
            {% endif %}
            </mark>card{{ object_list | length | pluralize }} in this group
        </p>
        <p class="description">{{ group_description }}</p>
        <hr>
        <div class="row">
            <form action={% url 'card-create' %} class="col-12 col-md-6">
                <input type="submit" value="Create New Card"/>
            </form>
            <form action={% url 'card-list' %} class="col-12 col-md-6">
                <input type="submit" value="Return to All Cards"/>
            </form>
        </div>
    </div>
    
    {% for card in card_list %}
        {% include "cards/card.html" %}
    {% endfor %}
{% endblock content %}