

{% extends 'cards/index.html' %}
{% load humanize %}

{% block content %}
    <div align="center">
        <h2>{{ name }}</h2>
        <p id="cards-left">
            <mark>
            {% if not object_list %}
                0 (zero)
            {% else %}
                {{ object_list | length }} ({{ object_list | length | apnumber }})
            {% endif %}
            </mark>card{{ object_list | length | pluralize }} in this group
        </p>
        <a href='{% url 'card-list' %}' role="button">Return to All Cards</a>
        <h3>{{ group_description }}</h3>
    </div>
    
    {% for card in card_list %}
        {% include "cards/card.html" %}
    {% endfor %}
{% endblock content %}