<!-- cards/templates/cards/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Marked's Flashcards</title>
    <link rel="icon" href="{% static 'images/note_taking.ico' %}">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link class="themes" href="{% static 'css/light.css' %}" rel="stylesheet" type="text/css"/>
<head>

<body>
    <header>
        <h1 class="page-header">Marked's Flashcards</h1>
        {% include "cards/navigation.html" %}
    </header>
    <main>
        {% block content %}
            <h2>Welcome to your Flashcard App!</h2>
        {% endblock content %}
    </main>
    <div class="js">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
            const light_css = "{% static 'css/light.css' %}";
            const dark_css = "{% static 'css/dark.css' %}";
        </script>
        <script type="text/javascript" src="{% static 'js/ThemeToggler.js' %}"/></script>
    </div>
</body>