<!-- cards/templates/cards/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Marked's Flashcards</title>
    <meta charset="utf-8">
    <meta name="description" content="A full-stack Django-based web app that will helped you ace your next test!">
    <meta name="keywords" content="Python, Django, Flashcards, jQuery, Full-stack">
    <meta name="author" content="marked01one">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/note_taking.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" type="text/css" class="themes" href="{% static 'css/light.css' %}">
<head>

<body>
    <header>
        <h1 class="page-header">Marked's Flashcards</h1>
        {% include "cards/navigation.html" %}
    </header>
    <main>
        {% block content %}
            <h2>Welcome to your Flashcard App!</h2>
        {% endblock content %}
    </main>
    <div class="js">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
            const light_css = "{% static 'css/light.css' %}";
            const dark_css = "{% static 'css/dark.css' %}";
        </script>
        <script type="text/javascript" src="{% static 'js/ThemeToggler.js' %}"/></script>
    </div>
</body>