@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-VariableFont_wght.0f0ea204488f.ttf");
}

@font-face {
    font-family: "Caveat";
    src: url("../fonts/Caveat-VariableFont_wght.7519ccd6f7c0.ttf");
}

@font-face {
    font-family: "Amatic_SC";
    src: url("../fonts/AmaticSC-Bold.fc2cf6f52e5e.ttf");
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


:root {
    --accent: #1F1D36;
    --accent-bg: white;
    --small-text: #E9A6A6;
    --bg: #261C2C;
    --text: #864879;
    --text-light: #585858;
    --border: #d8dae1;
    --code: #d81b60;
    --preformatted: #444;
    --cards: #344374;
}

body>header {
    background-color: #1F1D36;
    border-color: #1F1D36;
}

body {
    background-color: #3F3351;
    border-bottom: 0px;
}

main {
    animation: fadeIn 2.0s;
}

article {
    background-color: var(--cards);
    border: 0px;
    border-radius: 5px;
    color: var(--small-text);
    padding: 1em;
    margin: 1em 0;
    text-align: center;
}

p[class="answer"] {
    font-family: Comfortaa;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
}

p[class="question"] {
    margin-top: 0.5rem;
    font-family: Caveat;
    font-size: 28px;
    font-weight: 400;
}


h1, h2, h3 {
    color: var(--text);
    font-family: Comfortaa;
    font-weight: 600;
}

h1, h2 {
    text-align: center;
}

h2, h4 {
    margin-top: 0;
}


hr {
    background: var(--accent);
    border-color: var(--accent);
}


button, a[role="button"], input[type="submit"] {
    background-color: #685086;
    color: #FFE9AE;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

button, a[role="button"] {
    margin: 8px;
}

input, select, textarea {
    width: 100%;
    background-color: #FFECEF;
    color: #E26868;
    font-weight: 500;
    font-size: 0.8vw;
}

a[class="boxes"] {
    background-color: #C996CC;
    border-width: 0;
    font-size: 14px;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
}

.groups {
    background-color: #344374;
    color: var(--small-text);
    font-size: 14px;
    text-decoration: none;
}

.col-12 {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[id="cancel"] {
    background-color: #B270A2;
}

/* input[type="submit"] {
    font-size: 1vw;
}

.main-tabs, .theme-toggler {
    color: #FFE9AE;
    font-size: 1vw;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

#cards-left {
    font-family: Comfortaa;
    font-weight: 600;
} */