:root {
    --accent: #C1EFFF;
    --accent-bg: white;
    --bg: #261C2C;
    --text: #787A91;
    --text-light: #585858;
    --border: #d8dae1;
    --code: #d81b60;
    --preformatted: #444;
}

body>header {
    background-color: #261C2C;
    border-bottom: 0px;
}

article {
    background-color: #3E2C41;
    border: 0px;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
    text-align: center;
}

h2 {
    text-align: center;
}

h2, h4 {
    margin-top: 0;
}

hr {
    background: var(--accent);
    border-color: var(--accent);
}

button, a[role="button"], input[type="submit"] {
    background-color: #6E85B2;
    color: #FFE9AE;
    text-decoration: none;
    font-weight: 500;
}

input, select, textarea {
    width: 100%;
    background-color: #ba96d1;
    border: #3E2C41;
    color: #261C2C;
    font-weight: 500;
}

a[class="nav"] {
    background-color: #FFF5E4;
    font-weight: 600;
}

input[id="cancel"] {
    background-color: #B270A2;
}